.header {
    // background: lightgray;
    display: flex;
    justify-content: space-between; 
    padding: 1.5%;

    .logo img {
        height: auto;
        width: 120%;
    }

    .nav_bar {
        // border: 1px solid red;
        width: 39%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}

@media (max-width: 700px) {
    
    .header {
        // border: 1px solid red;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .logo  {
            width: 100%;
            text-align: center;
            margin-bottom: 10%;

            img {

                width: 60%;
            }
        }

        .nav_bar {
            align-content: center;
            width: 60%;
            
            
            a {
                font-size: 1.8rem;
                margin: 0 2%;
            }

            .meet_team {
                display: none;
         
             }
        }
    }
    
}