.how_mission_statement {
    
    .text {
        word-spacing: 0;
        width: 80%;
        text-align: justify;
    }
    

        
    
}


// .react-swipeable-view-container {
//     // width: 50%;
//     border: 1px solid teal;
// }