.modal_icon_container {
    position: absolute;
    
    // border: 2px solid black;
    width: 100%;
    visibility: hidden;
    justify-content: center;
    
    


    
    .icon_div {
        display: flex;
        justify-content: center; 
        align-items: center;
        border-radius: 50px;
        background: #5B4EFF;
        width: 25%;
        height: 4.5vh;
        margin: 0 3%;
        margin-top: 5%;
        opacity: .7;

        &:hover {
            opacity: 1;
        }
        

        a {
           
            
            i {
                color: white;
                cursor: pointer;
            }
        }
    }
}