// .bottom_card {
//     position: relative;
//     width: 87%;
//     margin: 0 auto;
//     background-color: white;
//     border: 1px solid white;
//     display: flex;
//     flex-direction: column;

    
   
    

// }

.testimony_button_div {
    display: flex;
    justify-content: center;
    height: 18vh;
    margin-bottom: 5%;

    img {
        margin-right: 1%;
        width: 7%;
        height: 12vh;
    }

    .testimonial_button {
        height: auto;
        width: 25%;
        background-color: #4aa810;
        box-shadow: 0px 3px #3e8c0d;
        color:#e2f5d6;
        padding: 0.8rem;
        text-transform: uppercase;
        font-size:1.6rem;
        border: none;
        border-radius:10px;
        cursor: pointer;
        opacity:0.92;
        transition: opacity .25s ease-in-out;
        letter-spacing: 1px;
        outline: none;
        align-self: flex-end;
        
    }
}

button:active {
  
    margin: 3px 0 -3px 0;
  
}


@media (max-width: 500px) {

    .bottom_card {

        .middle_page_firefly {
            width: 30%;
            top: -2.8%;
        }

        // .testimony {
            
        //     // border: 1px solid red;
        //     font-size: 1rem;
        //     flex-direction: column;
        //     align-items: center;

        //     img {
        //         width: 60%;
        //         margin-top: 20%;
        //    }

        //    .testimony_name {
        //     bottom: -10%;
        //     right: 0;
        //     font-size: 1.5rem;
        //     }

        //     .testimony_text {
        //         position: relative;
        //      //    border: 1px solid red;
        //         width: 80%;
        //     }
    
           
        // }
    }
}