.member_div {
  width: 20%;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  
  &:hover {
    .modal_icon_container {
      bottom: 0;
      visibility: visible;
      display: flex;
      opacity: 1;
      margin: 4% 0;
      padding-bottom: 1%;
      transition: all 0.3s linear;
    }

    .member_info {
      .name,
      .title {
        visibility: visible;
        margin: 0;
      }
    }

    .overlay {
      z-index: 1;
      width: 100%;
      height: 100%;
      background: gray;

      position: absolute;
      opacity: 0.55;
    }
  }
  .image {
    .member_pics {
      z-index: 0;
      height: 110%;
      width: 110%;

      overflow: hidden;

      @media (max-width: 700px) {
        width: 100%;
        height: auto;
      }

      &:hover {
        opacity: 0.1;
      }
    }
  }

  .member_info {
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 3;
    .name,
    .title {
      visibility: hidden;
      color: white;
      text-shadow: 1px 2px 5px black;
    }

    .name {
      font-size: 1.1rem;
    }

    .title {
      font-size: 1rem;
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    height: auto;
  }
}
