.member_div {
  width: 20%;
  height: 200px;
  position: relative;
  border: 1px solid white;

  &:hover {

    .modal_icon_container {
      bottom: 0;
      visibility: visible;
      display: flex;
      opacity: 1;
      margin: 4% 0;
      padding-bottom: 1%;
      transition: all 0.3s linear;
    }

    .member_info {
      .name,
      .title {
        text-shadow: 3px 2px 2px black;
        visibility: visible;
        margin: 0;
      }

      .title {
        bottom: 40%;
      }

      .name {
        bottom: 60%;
      }
    }

    // .member_pics {
    //     margin-bottom: 5%;
    // }

    .overlay {
      z-index: 1;
      width: 100%;
      height: 100%;
      background: gray;
      border: 1px solid white;
      position: absolute;
      opacity: 0.55;
    }
  }

  .member_pics {
    z-index: 0;
    height: 100%;
    width: 100%;

    @media (max-width: 700px) {
      width: 100%;
      height: auto;
    }

    &:hover {
      opacity: 0.1;
    }
  }

  .member_info {
    text-align: center;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
    z-index: 3;
    // background: transparent;

    .name,
    .title {
      visibility: hidden;
      position: absolute;
      color: white;
      text-shadow: 1px 2px 5px black;
    }

    //add animation to swipe in icons on hover.
    //adjust mobile to display one picture full screen {brady bunch}

    .name {
      font-size: 1.6rem;
      bottom: 50%;
      left: 20%;
      // position: absolute;
    }

    .title {
      width: 80%;
      font-size: 1.3rem;
      bottom: 27%;
      left: 10%;
    }
  }

  @media (max-width: 700px) {
    width: 100%;
    height: auto;
  }
}
