.our_story {
    background: #5B4EFF;
    color: white;
    position: relative;
    padding: 3% 0;


    h1 {
        font-size: 3rem;

    }

    .our_story_text {
        width: 47%;
        margin:0 auto;
        text-align: center;

        p {
            font-size: 2.2rem; 
            text-align: center;
            // padding: 0 3%;
            margin-top: 0;
        }

    }

    .fireFly_hat {
        width: 9%;
        position: absolute;
        top: 23%;
        right: 14%;
        transform: rotate(-10deg)
    }

    @media (max-width: 700px) {
        .our_story_text {
            width: 100%;
            padding: 2%;
            h1 {
                font-size: 2rem;
                color: white;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

}