.our_story {
  background: #5b4eff;
  color: white;
  position: relative;
  padding: 3% 0;

  h1 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }

  .our_story_text {
    width: 55%;
    margin: 0 auto;
    text-align: center;

    p {
      font-size: 1.5rem;
      text-align: center;
      line-height: 2rem;
    }
  }

  .fireFly_hat {
    width: 9%;
    position: absolute;
    top: 20%;
    right: 14%;
    transform: rotate(-10deg);
  }

  @media (max-width: 700px) {
    .our_story_text {
      width: 100%;
      padding: 2%;
      h1 {
        font-size: 2rem;
        color: white;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}
