.team_mission_statement {
    
    display: flex;
    // justify-content: space-between;
    position: relative;
    padding-top: 5%;

    .statement {
        width: 50%;
        // padding: 1% 6%;
        

        h1 {
            padding: 0 5%;
        }

        p {
            
            padding: 0 5%;
        }

        .button_badges_container {
            padding: 0;
            width: 50%;
            margin-left: 7%;
            margin: 10% auto;
            display: flex;
            flex-direction: column;
            align-items: center; 

        

            button {
                align-self: center; 
                
                margin-right: 2%;
                width: 100%;
            }

            .badges {
                
                width: 100%;


                .ios {
                    width: 45%;
                    margin-right: 1%;
                    // margin-left: 10%;
                }
                .android {
                    width: 55%;
                }
                
            }

        }

    }
    

    h1 {
        font-size: 3rem;
        color: #4AA810;
      
    }

    p {
        font-size: 2.2rem;
        // width: 40%;
        text-align: justify;
    }

    .teamPage_main_pic {
        width: 55%;
        height: 75vh;
        margin-right: 2%;

    }

    
   

    @media (max-width: 700px){
        display: flex;
        flex-direction: column;
    // justify-content: space-between;
        position: relative;
        height: auto;
    // padding: 10% 3%;

        .how_it_works {
            width: 100%;
        }

        .statement {
            width: 100%;
            height: auto;
            padding: 0;
            display: flex;
            flex-direction: column;

            
    
            p {
                background: #5B4EFF;
                color: white;
                font-size: 1.5rem;
                text-align: justify;
                padding: 10%;
            }
            .teamPage_main_pic {
                width: 75%;
                height: auto;
                position: initial;
                align-self: center;
    
            }
            
            h1 {
                font-size: 2.1rem;
                color: #4AA810;
                margin: 10% auto 3% auto;
                text-align: center;
            }
        }

       
        .little_hands {
            font-size: 2rem;
            text-align: center;
            margin: 10% auto 5%;
        }
        



        .more_info {
            width: 100%;

            img {
                width: 100%;
            }
        }
    
    }   
}
        