.container {
    /* min-width: 400px; */
    width: 1000px;
    /* width: 90%; */
    margin: 0 auto;
    overflow-x: hidden;
}

/* video::-webkit-media-controls-panel {
    background-image: linear-gradient(transparent, transparent) !important;
} */