* {
    line-height: 1.5;
    box-sizing: border-box;
    // font-family: 'Nunito', sans-serif;
   
}

a {
    text-decoration: none;
    color: #5B4EFF;
}

body{
    // background-color: #ECEBFF;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 62.5%;
    margin: 0;
    // border: 1px solid red;
    
}

.container {
    width: 100%;
    // border: 1px solid red;
    margin: 0 auto;
    // border: 1px solid red;
    
    
}
@media (max-width: 500px) {
    .container {
        // border: 1px solid black;
    }
    
}


// .logo {
//     border: 1px solid gold;
   
// }

.logo img {
    height: auto;
    width: 120%;
}

// .top_card{
//     margin: 0 auto;
//     width: 50%;
//     background-color: white;
//     border: 1px solid red;

// }

.header {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between; 
    padding: 1.5%;
}

@media (max-width: 500px) {
    .header {
        // border: 1px solid red;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .logo img {
        width: 100%;
    }
    
}

.nav_bar {
    // border: 1px solid red;
    width: 39%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .nav_bar {
        align-content: center;
    }
    
   .nav_bar .meet_team {
       display: none;

    }
}


nav a {
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    width: 90%;
    margin: 3% auto;
    // border: 1px solid purple;

}



.mission_statement {
    width: 87%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    // padding: 5%;
}

@media (max-width: 500px) {
    h2 {
    //    border: 1px solid red;
    }
    .mission_statement {
        flex-direction: column;
        // border: 1px solid red;
    }
    .mission_statement p {
        width: 100%;
    }
    
}

.mission_statement .text {
    // border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column;
}

.mission_statement p {
    width: 85%;
    // border: 1px solid red;
}

.mission_statement img {
    width: 50%;
}

.buttons {
    // border: 1px solid red;
    padding-top: 10%;
    
}

@media (max-width: 500px) {
    .mission_statement .text {
        width: 100%;
        font-size: 1.2rem;
        align-items: center;
        margin: 5% auto;
    }
    .mission_statement .text h2 {
        font-size: 2.1rem;
        margin: 10% 0 0 0;
    }
    .mission_statement img {
        width: 95%;
    }
    .mission_statement .text .little_hands {
        font-size: 1.89rem;
    }
    .button {
        width: 100%;
    }
}

.badges {
    // border: 1px solid red;
    display: flex;
    // justify-content: center;
    cursor: pointer;
    align-self: flex-start;
    // margin-left: 7%;
   
}

.badges .ios {
    width: 23.4%;
    // height: 60%;
    margin-top: .6%;
}

.badges .android {
    height: auto;
    // height: 125%;
    width: 29.7%;
}

@media (max-width: 500px){
    .badges {
        // border: 1px solid red;
        justify-content: space-between;
    }
    .badges .ios {
        height: auto;
        width: 35%;
        margin-left: 3%;
    }

    .badges .android {
        width: 45%;
        margin: 0;
    }
}



.text {
    width: 50%;
    // border: 1px solid red;
    font-size: 2rem;
    
}



.text h2 {
    color: #6BB83B;
    margin: 23% 0 0 0;
    font-size: 3rem;
}

.more_info {
    width: 87%;
    margin: 3% auto;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}
@media (max-width: 500px) {
    .more_info img{
        width: 100%;
        
        
    }
    
}

.tags {
    // border: 1px solid red;
    // margin: 1%;
    width: 27%;
    font-size: 1.5rem;
}
@media (max-width: 500px) {
    .tags {
        width: 25%;
        font-size: 1rem;
        // border: 1px solid greenyellow;
    }
    .tags p {
        display: none;
    }
    .tags img {
        width: 90%;
    }
}

.how_it_works {
    background: #ECEBFF;
    padding-bottom: 5%; 
    margin: 0 auto;
    // border: 1px solid orange;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

}

.how_it_works h2 {
    align-self: center;
    font-size: 3rem;
    color: #5B4EFF;
    
}

.how_it_works_text {
    width: 50%;
    padding-left: 10%;
    // border: 1px solid red;
}
@media (max-width: 500px) {
    .how_it_works_text {
        display: none;
    }
}

.how_it_works_des {
    // border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    width: 87%;
    padding-bottom: 3%;
    margin: 0 auto;
}

.how_it_works_des video {
    // align-self: center;
    // border: 1px solid red;
}


.bottom_card {
    position: relative;
    width: 87%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid white;
    display: flex;
    flex-direction: column;

}

.middle_page_firefly {
    width: 7%;
    position: absolute;
    right: -5%;
    top: -4.3%;

}
@media (max-width: 500px) {
    .middle_page_firefly {
        width: 10%;
    }
}

.testimony {
    // border: 1px solid pink;
    display: flex;
    margin: 7% 2%;
    position: relative;
    font-size: 1.5rem;
}
@media (max-width: 500px) {
    .testimony {
        
        // border: 1px solid red;
        font-size: 1rem;
        flex-direction: column;
        align-items: center;
    }
}

.testimony_name {
    position: absolute;
    bottom: 25%;
    right: 30%;
}

.testimony_text {
    top: 50%;
    margin-top: 5%;

}

.testimony img {
    width: 20%;
}
@media (max-width: 500px) {
   .testimony img {
        width: 60%;
        margin-top: 20%;
   }
   .testimony_name {
       bottom: -10%;
       right: 0;
       font-size: 1.5rem;
   }
   .testimony_text {
       position: relative;
    //    border: 1px solid red;
       width: 80%;
   }
   .middle_page_firefly {
       width: 30%;
       top: -2.8%;

   }
}

.quotes_icon {
    color: #4aa810;
    opacity: .3;
    margin: 0 2%;
}

.quote_right {
    position: absolute;
    right: 20%;
    bottom: 10%;
}

.testing {
    // border: 1px solid red;
    width: 80%;
    margin: 0 auto;
}

.test2 {
    flex-direction: row-reverse;
    position: relative;
}

.test2 .quote_right {
    position: absolute;
    right: 1%;
}

.test2 .testimony_name {
    right: 10%;
}

button{
    
    height: auto;
    width: 51%;
    background-color: #4aa810;
    box-shadow: 0px 3px #3e8c0d;
    color:#e2f5d6;
    padding: 0.8rem;
    text-transform: uppercase;
    font-size:1.6rem;
    border-radius:10px;
    cursor: pointer;
    opacity:0.92;
    transition: opacity .25s ease-in-out;
    letter-spacing: 1px;
    outline: none;
    align-self: flex-start;
    // margin-left: 7%;  
    
}

button:active {
  
    margin: 3px 0 -3px 0;
    // align-self: flex-start;
    // margin-left: 7%;
  
}

footer {
    background-color: #ECEBFF;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    // border: 1px solid red;
    width: 100%;
    height: 35vh;
}

footer nav {
    // border: 1px solid black;
    width: 48%;
    // margin-left: 5%;
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

footer nav a {
    // border: 1px solid black;
    height: 10%;
}

.footer_logo {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    // padding: 1%;
    // border: 1px solid red;
    font-size: 1.1rem;
}

.footer_logo img {
    width: 10%;
    justify-items: flex-end;
}

@media (max-width: 500px) {
    footer {
        flex-direction: column;
        height: 25vh;
        align-items: center;
        justify-content: space-between;
    }
    .footer_logo {
        width: 100%;
        align-items: center;
        
    }
  
    footer nav {
        width: 100%;
    }
}


